<footer>
    <div class="f-info">
        <div class="f-info-socials">
            <span><i class="fa-brands fa-square-facebook"></i></span>
            <i class="fa-brands fa-square-instagram"></i>
            <i class="fa-brands fa-square-linkedin"></i>
        </div>

        <div><b> &copy; Make My Trip Pvt Ltd.</b></div>

        <div class="f-info-links">
            <a href="/privacy">Privacy</a>
            &nbsp;&nbsp;
            <a href="/terms">Terms</a>
            &nbsp;&nbsp;
            <a href="/services">Services</a>
            &nbsp;&nbsp;
            <a href="/contact">Contact</a>
        </div>
    </div>
</footer>